html {
	padding: 30px;
	margin: 30px;
	background-color: white;
	color-profile: auto;
	border-color: black;
	background-image: "/images/birdman_.png";
}


.intro {
    font-family: 'Helvetica';
    font-size: 25px;
    margin-left: all;
    border-style: dotted;
}

h1 {
	text-align: center;
}

.sublist1 {
    font-size: 15px;
}

.list {
    font-size: 20px;
    font-style: normal;
    font-family: 'Helvetica';
}

.intro {
	padding: 6rem;
	text-align: center;
	background-color: lightgray;
	animation: 2s infinite alternate ease-in-out breathing-color--dark;
}
@keyframes breathing-color--dark
{
	from
	{
		background-color: lightgray;
	}
	to
	{
		background-color: lightgreen;
	}
}